

<div class="input-group">
  <div class="d-flex flex-row bd-highlight mb-9">
    <button (click)="toggleVisibility()" type="button" class="btn btn-outline-secondary btn-sm">
     Add A New Cat Profile 
    </button>
  </div>
  <div class="d-flex flex-row bd-highlight mb-9">
    &nbsp; &nbsp; &nbsp;
  </div>
  <div class="d-flex flex-row bd-highlight mb-9">
    <button  type="button" class="btn btn-outline-secondary btn-sm">
      Select A Cat Profile
    </button>
  </div>
</div>
&nbsp;

<div *ngIf="isVisible">
  <app-add-edit-catprofile></app-add-edit-catprofile>
</div>

  <div class="d-flex flex-row bd-highlight mb-9">
    <div class="p-2 w-100 bd-highlight">
      <div class="input-group mb-12">
        <span class="input-group-text">Box Type</span>
        <input type="text" class="form-control">
      </div>
      &nbsp;
      <div class="input-group mb-12">
        <span class="input-group-text">Box Size</span>
        <input type="text" class="form-control">
      </div>
      &nbsp;
      <div class="input-group mb-12">
        <span class="input-group-text">Special Features</span>
        <textarea name="features" class="form-control" rows="3"></textarea>
      </div>
      &nbsp;
      <div class="p-2 bd-highlight">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Register Catbox
        </button>
      </div>
    </div>
  </div>


