<div class="container">
  <h3 class="d-flex justify-content-center">The CatBox Request Website </h3>
  <i class="d-flex justify-content-center">
    Aims to streamline the process of designing and requesting
    the purrrfect cat box(es) tailored to Your Cat(s) Need
  </i>
  &nbsp;
  <nav class="navbar navbar-expand-sm bg-light navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button routerLink="catbox" class="m-1 btn btn-light btn-outline-primary" Button>Add or Update Cat box Registration</button>
      </li>
      <li class="nav-item">
        <button routerLink="catprofile" class="m-1 btn btn-light btn-outline-primary" Button>View or Edit CatProfiles</button>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
