<div class="d-flex flex-row bd-highlight mb-9">
  <div class="p-2 w-100 bd-highlight">
    <div class="input-group mb-9">
      <span class="input-group-text">Cat Name</span>
      <input type="text" class="form-control">
      <span class="input-group-text">Cat Nick Name</span>
      <input type="text" class="form-control">
    </div>
    &nbsp;
    <div class="input-group mb-12">
      <span class="input-group-text">Age</span>
      <input type="text" class="form-control">
      <span class="input-group-text">Weight</span>
      <input type="text" class="form-control">
      <span class="input-group-text">Sex</span>
      <input type="text" class="form-control">
    </div>
    &nbsp;
    <div class="input-group mb-12">
      <span class="input-group-text">Purrfered Box Size</span>
      <input type="text" class="form-control">
    </div>
    &nbsp;
    <div class="input-group mb-12">
      <span class="input-group-text">Color</span>
      <textarea name="features" class="form-control" rows="2"></textarea>
    </div>
    &nbsp;
  </div>
</div>
